.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-box {
  height: 300px;
  width: 700px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px #111;
  background-color: #FFF;
  color: #000;
  background: yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#quote-content {
  margin: 10% 0 0 0;
}

/* #quote-text {
  display: flex;
  justify-content: center;
}

#quote-author {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  position: relative;
  font-style: italic;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
} */

button {
  padding:15px;
  border-radius: 2px;
  border: unset;
  box-shadow: 1px 1px 3px 1px #CCC;
}
