* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat';
}

*:focus {
  outline: none;
}

.fab {
  color: white;
  font-size: 25px;
  background: #282c34;
  padding: 11px;
  border-radius: 5px;
  position: relative;
  top: 5px;
}

.fas#right {
  padding: 30px;
  margin: calc(2.5em) 20px;
}

.fas#left {
  padding: 30px;
  margin: calc(1em) 20px;
}


.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-box {
  height: 350px;
  width: 700px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px #111;
  background-color: #FFF;
  color: #000;
  background: yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#quotes-icons-container {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 3em;
  mix-blend-mode: multiply;
  position: absolute;
  width: 700px;
  pointer-events: none;
}


#quote-content {
  margin: auto;
  padding-top: 50px;
  
}

#texts-content{
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
}

#text {
  max-width: 400px;
  margin-top: calc(10% - 60px)
}

#author {
  text-align: right;
  margin: 20px -30px 0 0;
  font-style: italic;
}

#author:before {
    content: '- ';
}

#text {
  max-width: 400px;
  margin: auto;
}

button#new-quote {
  border-radius: 5px;
  font-size: 0.85em;
  padding: 15px;
  margin-left: 15px;
  background: #282c34;
  border: unset;
  color: #FFF;
}

.buttons-container {
  margin-bottom: 30px;
}

#icon-twitter, #new-quote {
  transition: transform 0.05s ease-in;
}
#icon-twitter:hover, #new-quote:hover {
  transform: scale(1.1);
  cursor: pointer;
}

footer {
  margin: 10px
}